.header {
    font-size: 1.5em;
    position: fixed;
    top:0;
    width: min(760px, 100%);
    z-index: 999;
    background-color: white;
  
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header_content{
    display: flex;
    /* background-color: yellow; */
    padding: 5px;
    justify-content: space-between;
    
}

.header nav{
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

/* .header nav li {
    color: transparent;
    transition: all 0.25s ease-in-out;
} */

.header nav.show_nav{
    visibility: visible !important;
    /* position: absolute; */
    opacity: 1;
    position: fixed;
    height: auto;
    width: 200px;
    top: 50px;
    right: 25px;
    box-shadow: 0 0 1em;
    border-radius: 10px;
    z-index: 999;
    background-color: white;
    font-size: 1.25em;
}

.header ul {
    display: flex;
    flex-direction: column;
    gap: 1%;
    font-size: 1em;
    height: 100%;
    
}
.header li {
    text-decoration: none;
    transition: linear;
    text-transform: capitalize;
    list-style-type: none;
    border-bottom: 1px solid;
    width: 100%;
    text-align: center;
}
.header li:first-child{
    color: green;
}
.header li:last-child{
    border-bottom: none;
}
.header li:hover {
    cursor: pointer;
    background: rgb(193, 28, 28);
    letter-spacing: 0.15rem;
}

.logo{
    display: flex;
}
.logo p {
    padding: 5px;
    font-size: 1.5em;
    transform: skewX(-25deg);
}

.logo__image{
    height: 50px;
    width: 0px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out;
}

.logo__image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    
}

.logo__image.visible{
    visibility: visible;
    width: 50px;
}

.header h1 {
    line-height: 0.85em;
    text-transform: capitalize;
}

.header a {
    text-decoration: none;
}

.header .link:first-child{
    color:#3bedb7;
}

.header .link:nth-child(2){
    color: #0b2a92;
}

.is_toggled{
    transform: rotate(90deg) !important;
}

@media (min-width: 700px){
    .header{
        display: flex;
        justify-content: center;
    }
    /* .logo{
        display: block;
    } */
    /* .header_Icon{
        display: none !important;
    } */
    .header_content{
        flex-direction: row;
        width: var(--min_width);
        justify-content: space-between;
    }

    /* .header_ */
    .header .ul_row{
        flex-direction: row;
    }
    .header .ul_column{
        flex-direction: column !important;
    }
    .header .nav{
        visibility: visible;
        height: auto;
        width: auto;
        opacity: 1;
    }
    .header li{
        border: none;
    }

    .header li:hover{
        border: 1px solid;
        border-radius: 5px;
    }

    .button_header{
        visibility: hidden;
        width: 0;
        /* display: none; */
    }
}