.header {
    width: 100%;
    font-size: 1.5em;
}

.header_content{
    display: flex;
    /* background-color: yellow; */
    justify-content: space-between;
}
.header nav{
    display: none;
}

.button_header{
    position: fixed !important; 
    top: 0;
    right: 0;
    z-index: 999;
}

.show_nav{
    display: block !important;
    /* position: absolute; */
    position: fixed;
    width: 200px;
    top: 50px;
    right: 25px;
    box-shadow: 0 0 1em;
    border-radius: 10px;
    z-index: 999;
    background-color: white;
    font-size: 1.25em;
}
.header ul {
    display: flex;
    flex-direction: column;
    gap: 1%;
    font-size: 1em;
    height: 100%;
    
}
.header li {
    text-decoration: none;
    transition: linear;
    text-transform: capitalize;
    list-style-type: none;
    border-bottom: 1px solid;
    width: 100%;
    text-align: center;
}
.header li:first-child{
    color: green;
}
.header li:last-child{
    border-bottom: none;
}
.header li:hover {
    cursor: pointer;
    background: rgb(193, 28, 28);
    letter-spacing: 0.15rem;
}

.logo {
    padding: 5px;
    font-size: 1.5em;
    transform: skewX(-25deg);
}

.header h1 {
    line-height: 0.85em;
    text-transform: capitalize;
}

.header a {
    text-decoration: none;
}

.header .link:first-child{
    color:#3bedb7;
}

.header .link:nth-child(2){
    color: #0b2a92;
}

.is_toggled{
    transform: rotate(90deg) !important;
}

@media (min-width: 700px){
    .header{
        display: flex;
        justify-content: center;
    }
    .logo{
        display: block;
    }
    .header_Icon{
        display: none !important;
    }
    .header_content{
        flex-direction: row;
        width: var(--min_width);
        justify-content: space-between;
    }

    /* .header_ */
    .header .ul_row{
        flex-direction: row;
    }
    .header .ul_column{
        flex-direction: column !important;
    }
    .header .nav{
        display: block;
    }
    .header li{
        border: none;
    }

    .header li:hover{
        border: 1px solid;
        border-radius: 5px;
    }

}