.projects{
    min-height: 100vh;
    font-size: 1.5em;
}


.project {
    padding: 2px;
    /* position:relative; */
    border-bottom: 2px solid;
    transition:all 0.5s ease-in-out ;
}

.project_title {
    /* display: inline; */
    width: fit-content;
    transition: all 0.5s ease-in-out;
    transform: translateX(0);

}

.project:hover{
    /* transform: scaleY(1.2); */
    border-radius: 10px;
    box-shadow: 0 0 10px;
    background-color: white;
    border: 2px solid red;
}
.project:hover > .project_title{
    margin-left: 50%;
    color: red;
    transform: translate(-50%);
    border-bottom: 2px solid red;
}
.image_container{
    width: 200px;
    height: 300px;

}

.image_container img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    object-fit: cover;
    border: 20px solid black;
}
.not_show{
    visibility: hidden;
    height: 0;
    
}

.show_div{
    visibility: visible;
    /* transition: all 0.5s ease-in-out; */
    height: 0;
    overflow: hidden;
    opacity: 0;
    animation: showDivAnim 1s linear forwards ;
}
@keyframes showDivAnim{
    50%{
        height: 100px;
        opacity: 0.5;
    }
    75%{
        height: 250px;
        opacity: 0.75;
    }
    100% {
        height: auto;
        opacity: 1;
        /* overflow: auto; */
    }
}

.project_info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project_link button{
    color: white;
    background-color: greenyellow;
    border: 2px solid white;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 15px;
}
/* .project::before{
    content:'Click here';
    position:absolute;
    top: -100%;
    background-color: white;
    font-size: 0.75em;
    border-radius: 4px;
    color:black;
    box-shadow: 0 0 5px black;
} */